@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

/* reset and general style */

* {
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  margin: 0;
  height: 100vh;
  align-content: center;
  font-family: "Overpass", sans-serif;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

.main-container {
  max-width: 327px;
  height: 360px;
  background: #232a34;
  margin: 0 auto;
  border-radius: 0.938rem;
  padding: 1.5rem;
}

/* rating state */

.circle {
  width: 40px;
  height: 40px;
  background-color: #303a46;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #969fad;
  font-weight: 700;
  font-size: 0.875rem;
}

.rating-nums {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
}

h1,
button {
  margin-top: 1.5rem;
}

h1 {
  color: white;
  font-size: 1.5rem;
}

p {
  margin: 1rem 0;
  color: #969fad;
  font-size: 0.875rem;
  line-height: 22px;
}

button {
  border: none;
  background-color: #fc7614;
  color: #131518;
  padding: 1rem 0;
  width: 100%;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 1.87px;
}

button,
.rating-nums > .circle {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.rating-nums > .circle:hover,
button:hover {
  background-color: white;
  color: #262e38;
}

.rating-nums > .circle.selected {
  background-color: #fc7614;
  color: #262e38;
}

/* result state  */

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1.5rem;
}

.result-container > h1 {
  margin: 0 0 1rem;
}

.result-container > p {
  margin: 0;
}

.result-container > .result {
  color: #fc7614;
  background-color: #303a46;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin: 1.5rem;
}
